<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>DeepLyrics | DeepSonic</title>
  <link rel='stylesheet' href='https://cdn.rawgit.com/filipelinhares/ress/master/dist/ress.min.css'>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='deeplyrics.css') }}">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
<!-- partial:index.partial.html -->
<!-- Page Wrap -->
<div class="page-wrap">

  <div id="home-slider">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide swiper-slide-one">
          <div class="swiper-image" data-swiper-parallax-y="-20%">
            <div class="swiper-image-inner swiper-image-left swiper-image-one">
              <h1>Let's <span class="emphasis">Talk</span>,<br><span>Shall we?</span></h1>
              <p>Customise your audio here.</p>
            </div>
          </div>
          <div class="swiper-image" data-swiper-parallax-y="35%">
            <div class="swiper-image-inner swiper-image-right swiper-image-two">
              
                
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="15" id="length" type="number" class="validate" max="60">
          <label for="length" style="color:white; font-size:15px;">Length of generated audio (&lt 60 secs)</label>
        </div>
        <div class="input-field col s6">
          <input id="name" type="text" class="validate">
          <label for="name" style="color:white; font-size:15px;">Name of the file (in .wav or .mp3)</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="artist" type="text" class="validate">
          <label for="artist" style="color:white; font-size:15px;">Enter the name of your preferred artist</label>
        </div>
      </div>
      <div class="row">

        <label style="color:white; font-size:15px;">Select your preferred genre</label>
        <select class="browser-default">
          <option value="" disabled selected>Choose your option</option>
          <option value="1">Hip Hop</option>
          <option value="2">Rock</option>
          <option value="3">Country</option>
          <option value="3">Indie Rock</option>
          <option value="3">Folk Rock</option>
          <option value="1">Synthpop</option>
          <option value="2">Jazz</option>
          <option value="3">Electronic</option>
          <option value="3">R &amp B/soul</option>
          <option value="3">Heavy metal</option>
          <option value="3">Black metal</option>
          <option value="3">Mpb</option>
          <option value="3">Pop</option>
          <option value="3">New Wave</option>
          <option value="3">Reggae</option>
          <option value="3">Jazz Rock</option>
          <option value="3">Indie Pop</option>
          <option value="3">Folk</option>
          <option value="3">Pop Rock</option>
          <option value="3">Vocal</option>
          <option value="3">Blues Rock</option>
          <option value="3">Melodic Death Metal</option>
          <option value="3">Post Hardcore</option>
          <option value="3">New Wave</option>
          <option value="3">Reggae</option>
          <option value="3">Jazz Rock</option>
          <option value="3">Indie Pop</option>
          <option value="3">Folk</option>
          <option value="3">Pop Rock</option>
          <option value="3">Vocal</option>
          <option value="3">Blues Rock</option>
          <option value="3">Melodic Death Metal</option>
          <option value="3">Post Hardcore</option>
          <option value="3">Children's Music</option>
          <option value="3">Country Blues</option>
          <option value="3">Contemporary Christian</option>
          <option value="3">Progressive Rock</option>
          <option value="3">Disco</option>
          <option value="3">Alternative Hip Hop</option>
          <option value="3">Metalcore</option>
          <option value="3">Punk Rock</option>
          <option value="3">Classical</option>
          <option value="3">Christian</option>
          <option value="3">Rock N Roll</option>
          <option value="3">K-Pop</option>
        </select>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate">
          <label for="email" style="color:white; font-size:15px;">Email</label>
        </div>
      </div>

  </div>
        
            </div>
          </div>
        </div>
        <div class="swiper-slide swiper-slide-two">
          <div class="swiper-image" data-swiper-parallax-y="-20%">
            <div class="swiper-image-inner swiper-image-left swiper-image-three">
              <h1>This is it.<br><span class="emphasis">You ready?</span></h1>
              <p>Press submit to continue</p>
            </div>
          </div>
          <div class="swiper-image" data-swiper-parallax-y="35%">
            <div class="swiper-image-inner swiper-image-right swiper-image-four">
              <p class="paragraph">
                This will take a few minutes or hours. Please be patient.</p><br><br>
                  <button class="btn waves-effect waves-light"><a href="deepcloudlyrics" style="color:white;">Submit
                  <i class="material-icons right">send</i></a>
                </button>
              </form>
            </div>
          </div>
        </div>

      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>

</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.jquery.min.js'></script><script  src="{{ url_for('static', filename='deeplyrics.js') }}"></script>

</body>
</html>
