<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Music Transformer | DeepSonic</title>
  <link rel='stylesheet' href='https://cdn.rawgit.com/filipelinhares/ress/master/dist/ress.min.css'>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='deeplyrics.css') }}">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
<!-- partial:index.partial.html -->
<!-- Page Wrap -->
<div class="page-wrap">

  <div id="home-slider">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide swiper-slide-one">
          <div class="swiper-image" data-swiper-parallax-y="-20%">
            <div class="swiper-image-inner swiper-image-left swiper-image-one">
              <h1>Let's <span class="emphasis">Talk</span>,<br><span>Shall we?</span></h1>
              <p>Customise your audio here.</p>
            </div>
          </div>
          <div class="swiper-image" data-swiper-parallax-y="35%">
            <div class="swiper-image-inner swiper-image-right swiper-image-two">
              
                
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input id="name" type="text" class="validate">
          <label for="name" style="color:white; font-size:15px;">Name of the file (in .wav or .mp3)</label>
        </div>
      </div>

      <div class="row">

        <label style="color:white; font-size:15px;">Select your preferred genre</label>
        <select class="browser-default">
          <option value="" disabled selected>Choose your option</option>
          <option value="1">C major arpeggio</option>
          <option value="2">C major scale</option>
          <option value="3">Clair de Lune</option>
        </select>
      </div>

      <div class="row">

        <label style="color:white; font-size:15px;">Melody-Conditioned Piano Performance Model</label>
        <select class="browser-default">
          <option value="" disabled selected>Choose your option</option>
          <option value="1">Mary had a Little Lamb</option>
          <option value="2">Row, row, row your boat</option>
          <option value="3">Twinkle, Twinkle Little Star</option>
        </select>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate">
          <label for="email" style="color:white; font-size:15px;">Email</label>
        </div>
      </div>

  </div>
        
            </div>
          </div>
        </div>
        <div class="swiper-slide swiper-slide-two">
          <div class="swiper-image" data-swiper-parallax-y="-20%">
            <div class="swiper-image-inner swiper-image-left swiper-image-three">
              <h1>This is it.<br><span class="emphasis">You ready?</span></h1>
              <p>Press submit to continue</p>
            </div>
          </div>
          <div class="swiper-image" data-swiper-parallax-y="35%">
            <div class="swiper-image-inner swiper-image-right swiper-image-four">
              <p class="paragraph">
                This will take a few minutes or hours. Please be patient.</p><br><br>
                  <button class="btn waves-effect waves-light"><a href="musictransformerdone" style="color:white;">Submit
                  <i class="material-icons right">send</i></a>
                </button>
              </form>
            </div>
          </div>
        </div>

      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>

</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.jquery.min.js'></script><script  src="{{ url_for('static', filename='deeplyrics.js') }}"></script>

</body>
</html>
